/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Sintony&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Sintony', sans-serif;
    letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
    float: left;
    margin-right: 1.875rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Main content */
main {
        /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 112px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url(../images/arholma1.JPG) no-repeat center center/cover;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

footer div {
   display: flex;
   flex-direction: column;
}

#footer {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

#footer h3 {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    text-transform: uppercase;
}

#footer hr {
    height: 2px;
    background-color: black;
    margin: 2px 4px;
}

.row {
    flex-direction: row;
}

.column {
    list-style-type: none;
    float: left;
    width: 33.33%;
    text-align: center;
}

.column i {
    font-size: 160%;
    padding: 10%;
    color: black;
}


/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    header {
       
    }

    nav {
        float: right;
    
    }

    #menu {
        line-height: 4.5rem;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        float: left
    }

    /* Main content */
    main {
        margin-top: 81px;
    }


}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid black;
    }

    .column i:hover {
        background-color: rgb(0, 251, 255);
    }

}