/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Sintony&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Sintony', sans-serif;
}

h2 {
    font-family: 'Sintony', sans-serif;
    font-size: 18px;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    letter-spacing: 2px;
    font-family: 'Sintony', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
    float: left;
    margin-right: 1.875rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 112px;
}

#hero {
    width: 100%;
    background: url(../images/arholma1.JPG) no-repeat center center/cover;
    position: relative;
}

.customize-hero {
    height: 600px;
}

#hero-hostels {
    width: 100%;
    position: relative;
    background-color: #CEE2EE;
}

.text-block {
    position: absolute;
    background-color: rgba(178, 193, 163, 0.7);
    color: black;
    border-radius: 4px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    width: 80%;
    top: 40px;
    left: 5px;
    padding: 20px;

}

.info-block {
    background-color: rgba(178, 193, 163);
    color: black;
    border-radius: 4px;
    font-size: 80%;
    padding: 20px;

}

.info-block a {
    color: black;
}

#buttons {
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgba(178, 193, 163, 0.7);
    color: black;
    border-radius: 50%;
    padding: 15px 20px;
    margin: 20px;
    font-size: 15px;
    font-family: 'Sintony', sans-serif;
    border: black solid 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 7px 7px 7px #9d9494;

}

/* Gallery */
#gallery {
    display: flex;
    flex-direction: column;
}

.gallery-heading {
    align-self: center;
    padding: 20px;
}

#images img {
    width: 100%;
    line-height: 1em;
}

#images {
    line-height: 0;
}

/* Hostels */
#hostel-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hostel-heading {

    padding: 2rem;
    background-color: rgba(178, 193, 163);
    color: black;
    border-radius: 4px;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    width: 80%;
    text-transform: uppercase;
    margin: 2rem;
}

.hostel-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hostel {
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.hostel img {
    width: 100%;
    height: auto;
    display: block;
}

.hostel-content {
    padding: 10px;
    background-color: rgba(178, 193, 163);
    color: black;
}

.hostel-content h2 {
    margin-bottom: 6px;
}

.hostel-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #9d9494;
    border-radius: 4px;
    margin-top: 16px;
    color: black;
    text-decoration: none;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

footer div {
    display: flex;
    flex-direction: column;
}

#footer {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

#footer h2 {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    text-transform: uppercase;
}

#footer hr {
    height: 2px;
    background-color: black;
    margin: 2px 4px;
}

.row {
    flex-direction: row;
}

.column {
    list-style-type: none;
    float: left;
    width: 33.33%;
    text-align: center;
}

.column i {
    font-size: 160%;
    padding: 10%;
    color: black;
}

/* Media query: large or landscape phones (576px and up */
@media screen and (min-width: 576px) {
    #images {
        column-count: 2;
        column-gap: 0;
    }

    #hostel-section>div {
        display: flex;
        justify-content: center;
    }

    #hostel-heading {
        width: 500px;
    }
}

/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    header {}

    nav {
        float: right;
    }

    #menu {
        line-height: 4.5rem;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        float: left;
        letter-spacing: 2px;
        font-family: 'Sintony', sans-serif;
    }

    /* Main content */
    main {
        margin-top: 81px;
    }

    .text-block {
        width: 350px;
        right: 75px;
        left: 30px;
    }

    /* Gallery */
    #images {
        column-count: 3;
    }

    /* Hostels */
    .hostel {
        height: 570px;
        background-color: rgba(178, 193, 163);
    }

    #hero-hostels {
        background: url(../images/arholma1.JPG) no-repeat center center/cover;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid black;
    }

    /* Main content */
    .info-block {
        padding: 30px 200px;
    }

    /* Hover effect for buttons */
    .button:hover {
        background-color: #695d5d;
        color: #ffffff;
    }

    .button:active {
        background-color: #695d5d;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    /* Gallery */
    .gallery-heading {
        font-size: 280%;
    }

    #images {
        column-count: 4;
    }

    /* Hover effect for Book room */
    .btn:hover {
        background-color: #292626;
    }

    /* Hover effect for footer icons */
    .column i:hover {
        background-color: #695d5d;
    }
}

/* Large devices (4k 2000px and more) */
@media screen and (min-width: 2000px) {
    body {
        padding: 0 20%;
    }

    header {
        position: relative;
    }

    main {
        margin-top: 0;
    }
}