/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Sintony&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Sintony', sans-serif;
    letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5em;
    float: left;
    margin-right: 1.875rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Main content */
main {
    background-color: aqua;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: aquamarine;
}